/Deployer.class
/recolter.class
/Recolter.class
/Nourire.class
/Nourir.class
/DeployerGuerre.class
/RecolterGuerre.class
/DeployerAgricole.class
/RecolterAgricole.class
/EchangeRessources.class
/Remunere.class
/NeRienFaire.class
/NeRienFaireAgricole.class
